
<h1 Search Results for  <%= @query %>  </h1> 
 

	
<% 


	@docs =  @newstuff["response"]
	#find the items to make query strings
	if @docs["numFound"] == 0 
	@numberitems =  0
	@myresults = "No Results Found"
   else
   	@numberitems =  @docs["numFound"]

%> 
 
<h2><%= @numberitems %> items were found </h2> 
<table> <th> Title </th>  <th>RelatedTitle</th> <th> Resource Type </th> <th> Resource Type Infro </th> <th> Creator </th> <th> Physical Location </th> </table>
<%


    @myresults = @docs["docs"]
    @myresults.each do |d | 
	##grab the items
		@id =  d["id"]
		@fsmTitle = d["fsmTitle"]
		@fsmCreator = d["fsmCreator"]
		@fsmTypeOfResource = d["fsmTypeOfResource"]
		@fsmTypeOfResourcePretty = d["fsmTypeOfResource"]
		@fsmDateCreated = d["fsmDateCreated"]
		@fsmDateCreated = "xxx" if @fsmDateCreated.nil? || @fsmDateCreated.empty?
		@fsmNote = d["fsmNote"]
		@fsmNote = "xxx" if @fsmNote.nil? || @fsmNote.empty?
		@fsmIdentifier = d["fsmIdentifier"]
		@fsmRelatedTitle = d["fsmRelatedTitle"]
		@fsmRelatedIdentifier = d["fsmIdentifier"]
		@fsmPhysicalLocation = "The Bancroft Library"
		@fsmImageUrl = d["fsmImageUrl"]
		@fsmImageUrl = "xxx" if @fsmImageUrl.nil? || @fsmImageUrl.empty?
		@fsmTeiUrl =  d["fsmTeiUrl"]
		@fsmTeiUrl = "xxx" if @fsmTeiUrl.nil? || @fsmTeiUrl.empty?

		@fsmTitle = @fsmTitle.join(", ")
		@fsmCreator = @fsmCreator.join(", ")
		@fsmTypeOfResource = @fsmTypeOfResource.join(", ")
		@fsmIdentifier  = @fsmIdentifier.join(", ")
		@fsmRelatedTitle  = @fsmRelatedTitle .join(", ")
		@fsmRelatedIdentifier  = @fsmRelatedIdentifier.join(", ")
		@fsmImageUrl  = @fsmImageUrl.join("?")
	

		@querystring = "/searchresults?title =" + @fsmTitle  + "&id=" + @id +  "&creator=" + @fsmCreator +"&typeresource=" + @fsmTypeOfResource  + "&note=" + @fsmNote + "&identifier=" + @fsmIdentifier+ "&relatedtitle=" + @fsmRelatedTitle+ "&relatedidentifier=" + @fsmRelatedIdentifier + "&relatedtitle=" + @fsmRelatedTitle + "&relatedidentifier=" + @fsmRelatedIdentifier + "&location=" + @fsmPhysicalLocation + "&imgurl=" + @fsmImageUrl + "&teiurl=" + @fsmTeiUrl

%>
</br>
  </br>
      
<tr><td> <a href=" <%=  @querystring %>"> <%= @fsmTitle%> + </a></br> </td>  <td> <%= @fsmRelatedTitle  %> 
<br> </td> <td> <%= @fsmTypeOfResourcePretty[0] %> </td><td> <%= @fsmTypeOfResourcePretty[1] %> 
</td> <%= @fsmCreator %> </td><td> Bancroft Library </td> </tr>

<%		end 
	end 
%>

</table>

